body { 
    
    background-color: rgb(0, 0, 0);
    margin: 0;
} 
#container{
    height: auto;
    width:100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(9,auto); 
    background-image: url("https://media.giphy.com/media/3ohzAN9PzGgxpQaiM8/giphy.gif"); 
    background-size: cover;  
}

 #header{
     display: flex;
     justify-content: center;
     align-items: center;
     grid-column: 1/9;
     grid-row: 1/3;
    text-align: center;
    font-size: 50px;
    color: rgb(231, 13, 18);
    height: 148px;
    font-family: 'Lily Script One', cursive;
    text-shadow: -3px -9px 30px pink;
    
     
}        


.topnav{
    grid-row: 3/4;
    grid-column: 1/9;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    /* color: rgb(160, 159, 221); */

 }
 .active{
    color: rgb(160, 159, 221);
 }
 .active:hover{
    font-size: 40px;
    color: white;
 }

.topnav a{
    text-decoration: none;
    color: rgb(152, 231, 205);
} 
 #empower{
    grid-row: 4/6;
    grid-column: 2/8; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color:rgb(255, 255, 0); */
    color: yellow;
    opacity: .70;
    height: 247px;
    margin-top: 90px;
}
h2{
    text-shadow: 4px 3px 6px black;
}
#rocket{
    font-size: 45px;
    color: silver;
    font-family: 'Courgette';
    animation-name: slideout;
    animation-duration: 4s;
} 
@keyframes slideout{
    0% {
        position: relative;
        left: 0%; 
        font-size: 23px;
    }
    10% {
        position: relative;
        font-size: 60px;
        bottom: 0px;
        font-family: 'Faster One', cursive;
        
    }
    15%{
        position: relative;
        font-size: 90px;
    }
    20%{
        position: relative;
        font-size: 110px;
    }
    25%{
        position: relative;
        font-size: 130px
    }
    100% {
        position: relative;
        left: 300%; 
        font-size: 150px;
    }
}
/* @keyframes slideout{
    0% {
        position: relative;
        bottom: 0px; 
        font-size: 23px;
    }

    100%{
        position: relative;
        font-size: 90px;
        bottom: 300%;
        
    } */

  h2{
   text-align: center;
   font-size: 30px;
   font-family: 'Lobster', cursive;
  }
  .plant{
      font-size: 38px;
  }

 .twentySec{
    grid-row: 6/7;
    grid-column: 1/4;
    margin-left: 20px;
    margin-top: 200px;
    font-size: 23px;
    color: rgb(231, 13, 18);
} 
.twentySec > h3{
    text-shadow: 
    
        4px 3px 6px black;
        
}        


#twoMinutes{
    grid-row: 9/10;
    grid-column: 6/9;   
}

 h4{
    font-size: 28px;
    color: rgb(231, 13, 18);
    text-align: center;
    text-shadow: 4px 3px 6px black;    
}   



 #rocket{
    font-size: 29px;
    color: azure;
    font-family: 'Courgette', cursive;
}  
  @media screen and (max-width:760px) {
      #header{
          margin-top: 40px;
          font-size: 36px;

      }
      .topnav{ 
          display: flex;
          flex-direction: column;
          text-align: center;
        }
        
        .topnav a{
            border: solid purple 2px;
            margin-top: 15px;

        }
        #heather{
            padding-left: 300px;
        }

        #twoMinutes{
            margin-right: 120px;
        }
        #twentySec{
            margin-left: 10px;
            
        }
  }     
