#container{
  align-content: center;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(8,auto); */
  background-image: linear-gradient( #c7dfe5, #bad9e6, #aed3e7, #a5cde9, #a0c5eb, #9abde9, #96b5e8, #93ade5, #8ba4e0, #fefeff, #7c91d5, #7587cf);
  background-size: cover; 
  width: 100%;
}

#test >h1 {
  align-self: center;
  /* grid-column: 1/9;
  grid-row: 1/2; */
  font-family: 'Monoton', cursive;
  font-size: 65px;
  text-align: center;
  color: rgb(158, 16, 158)
}



#bacon { 
  /* align-self: center; */
  align-content: center;
  height: auto;
  width: 70%; ;
  margin-top: 38px;
  /* margin-left: 23%; */
  margin-bottom: -52px;
  /* grid-row: 3/4;
  grid-column: 3/6;  
    */

  
}
#bacon >img{
  align-self: center;
  border-radius: 10%; 
  justify-self: center;
  /* display: block; */
    margin-left: 53%;
    height: auto;
    width: 35%; 
    border: solid rgb(100, 100, 138) 5px; 


}
#sleepTest > p{
  
  
  font-size: 28px;
  margin-top: 200px; 
  text-align: left;
  margin-left: 80px;
  margin-right: 80px; 
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  

} 
.young{
  color: rgb(153, 13, 218);
  font-size: 32px;
  font-weight: extra-bold;

}
 #heatherTest{
  font-size: 28px;
  margin-top: 120px;
  text-align: left;
  margin-left: 80px;
  margin-right: 80px; 
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800; 

}  
#last{
    margin-left: 9x;
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;

} 
#last >img{
  /* margin-left: 17%; */

}

@media screen and (max-width: 611px)  {
    
    #last{
        
        margin-left: 0%;
    }
    #test >h1{
        font-size: 48px;
    }
    #bacon > img {
      width: 28%;
    }
    
    
    
}  
/* @media screen and (min-width: 768px)  {
    
  #last{
      
      margin-left: 18%;
  }
  #test >h1{
      font-size: 70px;
  }
  #bacon > img {
    width: -1%;
  }
   */
  
  
  
