#container{
  display: flex;
  align-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right top, #d50f80, #d93295, #dc49aa, #dd5dbd, #dd6fd0, #db73d9, #d877e2, #d47beb, #cc73ee, #c46cf2, #ba65f7, #ae5ffb);
  background-size: cover; 
  width: 100%;
  justify-content: center;
  text-align: center;
}

#test >h1 {
  align-self: center;
  font-family: 'Monoton', cursive;
  font-size: 80px;
  text-align: center;
  color: rgb(158, 16, 158)
}
.topnav{
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 25px;
  align-items: center;
  margin-bottom: 30px;
  

}
.active{
  color: whitesmoke;
  text-decoration: none;
} 

#bacon >img{
  margin-top:20px;
  border-radius: 10%; 
  width: 400px;
  height: 300px;
  margin-top: 38px;  
  border: solid rgb(100, 100, 138) 5px; 


}
#sleepTest > p{
 
  font-size: 28px;
  margin-top: 200px; 
  text-align: left;
  margin-left: 80px;
  margin-right: 80px; 
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800;
  color: white;
  

} 
.young{
  color: rgb(116, 8, 167);
  font-size: 32px;
  font-weight: extra-bold;

}
 #heatherTest{
  font-size: 28px;
  margin-top: 120px;
  text-align: left;
  margin-left: 80px;
  margin-right: 80px; 
  font-family: 'Gothic A1', sans-serif;
  font-weight: 800; 
  color: white;

}  
#last > img{
    margin-top: 100px;
    margin-bottom: 50px;
    align-self: center;
    width: 430px;
    height: 330px; 
    border: solid black 2px;
    border-radius: 10%;

} 

@media screen and (min-width: 500px) and(max-width: 768px)  {
    
    #last{
        
        margin-left: 0%;
    }
    #test >h1{
        font-size: 48px;
    }
    #bacon{
      width: 100%;
    }
    #bacon > img {
      width: 34%;
    }
    #last >img{
      border-radius: 10%;
      width: 50%
    
    }

    
    
    
}  
/* @media screen and (min-width: 768px)  {
    
  #last{
      
      margin-left: 18%;
  }
  #test >h1{
      font-size: 70px;
  }
  #bacon > img {
    width: -1%;
  }
   */
  
  
  
