
#video{
    width: 100%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 315px 315px 315px;
    grid-gap: 50px;

}
.active:hover{
    font-size: 40px;
    color: white;
 }
body{
    background-image: url("https://images.unsplash.com/photo-1558470622-bd37a3c489e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
    margin-left: 150px;
}

#header{
    margin-top: -55px;
    font-size: 40px;
    text-align: center;
    height: 100px;
    width: 100%;
    color: rgb(109, 170, 194);
    background-color: rgb(5, 24, 39); 
}
.topnav{
    grid-row: 3/4;
    grid-column: 1/9;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;

 }
 .active{
    color: rgb(160, 159, 221);
    text-decoration: none;
 }
iframe{
    border: solid black 10px;
}
#oil-start{
    grid-column: 1/2;
    grid-row: 1/2;

}
#one{
    height: 315px;
    width: 400px;
}
#two{
    height: 315px;
    width: 400px;
}
#three{
    height: 315px;
    width: 400px;
}

#ten-reasons{
    grid-column: 2/3;
    grid-row: 2/3;
}
#four{
    height: 315px;
    width: 400px;
}
#brand-comp{
    grid-column: 3/4;
    grid-row: 3/4;
}
#emotion{
    grid-column: 2/3;
    grid-row: 4/5;
} 
#tips{
    grid-column: 1/2;
    grid-row: 5/6;

}

#container{
    display: flex;
    flex-direction: column;
    align-content: center;
    /* margin-left: 10px;
    margin-right: 0px; */
    margin: auto;
    /* width: 100vw; */
    width: 580px;
}
 body {
      background-image: url("https://images.unsplash.com/photo-1558470622-bd37a3c489e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");

  }

#container > h1{
    font-size: 55px;
    color: rgb(207, 221, 233);
    text-align: center;
    width: 577px;
    background-color:  rgb(5, 27, 36);
    font-family: 'Sail', cursive;
    margin-top: -20px;
    border: solid rgb(3, 10, 10) 30px;

}
span{
    font-family: 'Oleo Script Swash Caps', cursive;
}
#oily101 >h1,
 #oilStart >h1, 
 #tenReasons > h1, 
 #brandComp > h1, 
 #toxins > h1 {
    font-size: 40px; 
      color: rgb(246, 249, 250);
      text-align: center;
      width: 100%;
      margin-bottom: 0px;
      font-family: 'Farsan', cursive;
      
      
      
} 
#oily101{
    margin-top: 80px;
    width: 577px;
}
#toxins{
    margin-bottom: 30px;
}



@media screen and (max-width:600px){
    #video{
        display: flex;
        flex-direction: column;
        
        
    }
    
} 
  
  
  
  
  
  
  
  
  
  
  